{{> head }}

   {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Acerca</h1>
            <p>
                Lorem ipsum dolor sit, amet cosectetur adipisicing elit. Ipsam in reprehederit, praesenitium autem repudiandae veniam repellendus eveniet, modi esse beatae, dolorum facilis! Laudantium odio seape maiores porro necessitaibus molestias corrupti?
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/unnamed.png" class="img-thumbnail"/>
        </div>
    </div>

{{> footer }}
  
